<form style="width: 50%;">
    <div class="mb-3 ms-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" />
    </div>
  
    <div class="mb-3 ms-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" />
    </div>
  
    <div class="mb-3 form-check ms-3">
      <input type="checkbox" class="form-check-input" id="checkMeOut" />
      <label class="form-check-label" for="checkMeOut">Check me out</label>
    </div>
  
    <button type="submit" class="btn btn-primary ms-3">Submit</button>
  </form>
