.home_div_main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding-left: 7rem;
}

.home-button{
    // background-color: black ; 
}